<footer>
  <div class="footer-brand">
    <img src="/images/LOGO/LOGO BLANCO.webp" alt="">
    <div class="footer-copy">Torreón Manufacturing &amp; Exports 2026</div>
    <div class="footer-dev">Developed by A W Software</div>
  </div>

  <div class="footer-col">
    <a href="/index.html">About Us</a>
    <a href="/service.html">Services</a>
    <a href="/machinery.html">Machinery</a>
  </div>

  <div class="footer-col">
    <h5>Contact Us</h5>
    <p>(000) 000 0000</p>
    <p>sales@gmail.com</p>
  </div>
</footer>